/* 
.title"할 일 목록";

form#todo-form
>#todo-input-container
>input#todo-input(type="text" placeholder="Create a todo list..." required) 
+ button#btn-todo-save"save";

#print-view>.single-todo-container > span +  .delete-btn"Delete"; 

*/
:root{
    --bg-clr-white: #ffffff;
    --bg-clr-main: rgb(255, 255, 255);
    --bg-clr-form: rgb(137, 160, 139);
    --bg-clr-title:rgb(105, 185, 112);
    --bg-clr-printview: rgb(194, 241, 198);
    --bg-clr-singletodo: rgb(225, 241, 194);
    --clr: #000;
    --clr-title: #2382ff;
    --clr-input-placeholder:#2382ffc4;
    --boxShadow:5px 5px 10px #e0e0e0,
                -5px -5px 10px #ffffff;
    --boxShadow-inset:inset 5px 5px 10px #e0e0e0,
                    inset -5px -5px 10px #ffffff;
    --border-radius: 50px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gauon Dodum', 'Jua', sans-serif;
}

html{
    width: 100vw;height: 100vh;
}
body{
    width: 100%;height: 100%;
    background-color: var(--bg-clr-main);
    padding: .8em .5em;
}

input,
button{
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
            height: auto; 
            line-height: normal; 
            padding: .8em .5em;
            outline: none;
            border: none;
    background-color: #ffffff00;
}
.title{
    width: 100%;
    font-weight: bold;
    background-color: var(--bg-clr-main);
    padding: .5em .5em .5em .2em;
    color: var(--clr-title);
}
#todo-form{
    padding: .8em .5em;
    background-color: var(--bg-clr-main);
    width: 100%;
}
#todo-input-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: var(--border-radius);
    box-shadow: var(--boxShadow-inset);
    padding: 0 1.5em;
}
#todo-input{
    width: 100%;
    font-size: 1.2em;
}
#todo-input::placeholder{
    color: var(--clr-input-placeholder);
    font-size: .8em;
}
#btn-todo-save,
.delete-btn{
    cursor: pointer;
}
#print-view{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column-reverse;
    width: 100%;
    background-color: var(--bg-clr-main);
    padding: .8em .5em;
}
.single-todo-container{
    width: 100%;
    margin-bottom: 1em;
    padding: .35em .5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    background-color: var(--bg-clr-main);
    border-radius: var(--border-radius);
    box-shadow: var(--boxShadow);
}
.single-todo-container>span{
    margin-left: 1.2em;
    font-size: 1.1em;
}